@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #f7f5f2; */
  background-color: #f0e7db;

  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/images/dress.svg); */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(/images/dress.svg);
  background-origin: border-box;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: 70%;
  /* background-position: center top; */
  width: 100%;
  height: 668px;
  position: relative;
}

.box {
  box-shadow: -8px 8px 1px 1px #b2a4ff;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: none !important;
}

.box:hover {
  transform: scale(1.01);
  box-shadow: -8px 8px 1px 1px #8b78f7;
}

/* IFRAME */
.video-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
